.issueDetails label {
    width: 100%;
    font-weight: normal !important;
}

    .issueDetails label h4 {
        text-decoration: underline;
        font-weight: bold;
    }

.issueInfo {
    margin-bottom: 2%;
}

.img {
    position: relative;
    float: left;
    width: 375px;
    height: 550px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.imgContainer {
    /*width: 32%;*/
    padding: 2%;
    margin-top: -20px;
    background-image: url('background.jpg');
    background-position: 0% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.issueDetails {
    display: inline-block;
    position: absolute;
    width: 68%;
    margin-top: 15px;
}

/*body {
    background-image: url('supplierListBackground.jpg');
    background-position: 0% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}*/

.issueContainer > img {
    width: 27%;
    float: left;
    padding: 5px;
    margin: 15px;
}

.table {
    width: 95% !important;
    margin-left: 2.5%;
}

.fixOverlayDiv {
    position: relative;
    width: 100%;
    padding: 0px;
}

/*.fixOverlayDiv > img:hover {
        opacity: 0.7;
        background-color: blue !important;
        background-image: none !important;
    }*/

.OverlayText {
    background-color: #000;
    bottom: -550px;
    color: #fff;
    left: 0;
    opacity: 0.9;
    position: absolute;
    width: 375px;
    height: 75px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

input.ng-invalid, select.ng-invalid {
    border-color: red !important;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(218, 41, 41, 0.6) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(218, 41, 41, 0.6) !important;
}

.panel-heading {
    font-weight: 900;
    font-size: x-large;
}

.panel-default {
    width: 75%;
    margin-left: 14%;
}
/*#order {
    background-image: url('background.jpg');
    background-position: 0% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}*/

.navbar-brand {
    color: #fff !important;
}

.tilt {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

    .tilt:hover {
        -webkit-transform: rotate(-10deg);
        -moz-transform: rotate(-10deg);
        -o-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
