<form name="orderForm" id="order" class="panel panel-default">
    <div class="panel-heading" style="text-align: center">
        Place Order
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label>Issue</label>
            <select ng-model="selectedIssue" class="form-control" required>
                <option ng-repeat="issue in $ctrl.issues" value="{{issue.id}}">{{issue.title}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label>Supplier</label>
            <select ng-model="selectedSupplier" class="form-control" required>
                <option ng-repeat="supplier in $ctrl.suppliers" value="{{supplier.id}}">{{supplier.name + ' ('+supplier.city+')'}}
                </option>
            </select>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Quality grades</div>
            <div class="panel-body">
                <div class="form-group" ng-repeat="quality in $ctrl.qualities">
                    <label>{{quality.displayName}}</label>
                    <input type="number" min="0" ng-model="quality.quantity" class="form-control" required />
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <button type="button" class="btn btn-primary" ng-disabled="orderForm.$invalid" ng-click="$ctrl.order($event)">Order</button>
        <button type="button" class="btn btn-primary" ng-click="$ctrl.return()">Cancel</button>
    </div>
</form>
