<div class="issueContainer">
    <img class="img-responsive" ng-src="{{$ctrl.issueRecord.thumbnail.pathIncludingExtension}}" />
    <div class="issueDetails">
        <div class="issueInfo">
            <label>
                <h4>Title:</h4>
                {{$ctrl.issueRecord.title}}</label>
            <label>
                <h4>Publisher:</h4>
                {{$ctrl.issueRecord.publisher}}</label>
            <label>
                <h4>Description:</h4>
                {{$ctrl.issueRecord.description}}</label>
            <div class="row" style="width: 49%; margin-top: 20px">
                <div class="col-md-4" ng-repeat="pic in $ctrl.issueRecord.images">
                    <img class="img-responsive" ng-src="{{pic.pathIncludingExtension}}" />
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-primary" ng-click="$ctrl.placeOrder()">Order</button>
        <button type="button" class="btn btn-primary" ng-click="$ctrl.return()">Cancel</button>
    </div>


</div>

