<div id="Suppliers">
    <div class="form-group" style="padding-left: 3%;">
        <label>Search:</label>
        <input ng-model="searchQuery" class="form-control" style="display: inline-block; width: auto" />
        <button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.insert()" style="float: right; margin-right: 3%;">
            <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add Supplier
        </button>

    </div>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>City</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="supplier in $ctrl.Suppliers" ng-click="$ctrl.selectSupplier(supplier.id, $event)">
                <td>{{supplier.id}}</td>
                <td>{{supplier.name}}</td>
                <td>{{supplier.city}}</td>
                <td>
                    <button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.delete(supplier.id, $event)" style="float: right; margin-right: 0px">
                        <span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;Delete &nbsp;
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <div style="float: right; margin-right: 3%;">
        <button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.FilterPage('previous')">
            <span class="glyphicon glyphicon-chevron-left"></span>&nbsp;
        </button>

        <button ng-repeat="page in $ctrl.pages" type="button" class="btn btn-default btn-sm" ng-click="$ctrl.FilterPage(page)">
            &nbsp;&nbsp;{{page}}&nbsp;&nbsp;
        </button>
        <button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.FilterPage('next')">
            <span class="glyphicon glyphicon-chevron-right"></span>&nbsp;
        </button>

    </div>
</div>
