<div style="width: 75%; padding-left: 15%;">
    <div class="form-group">
        <label>ID</label>
        <input ng-model="$ctrl.supplierRecord.id" class="form-control" disabled />
    </div>
    <div class="form-group">
        <label>Name</label>
        <input ng-model="$ctrl.supplierRecord.name" class="form-control" />
    </div>
    <div class="form-group">
        <label>City</label>
        <input ng-model="$ctrl.supplierRecord.city" class="form-control" />
    </div>
    <div class="form-group">
        <label>Reference</label>
        <input ng-model="$ctrl.supplierRecord.reference" class="form-control" />
    </div>
    <button type="button" class="btn btn-primary" ng-click="$ctrl.update()">Save</button>
    <button type="button" class="btn btn-primary" ng-click="$ctrl.return()">Cancel</button>
</div>
